---
- name: install
  apt: name={{ item }} state=present
  with_items:
    - php5
    - php5-apcu
    - php5-cli
    - php5-common
    - php5-curl
    - php5-fpm
    - php5-gd
    - php5-imagick
    - php5-intl
    - php5-mcrypt
    - php5-mysqlnd
    - php5-sqlite
    - php5-xdebug
    - php5-xmlrpc

- name: configure cli php.ini
  ini_file:
    section=PHP
    option={{ item.key }}
    value={{ item.value }}
    dest=/etc/php5/cli/php.ini
  with_dict: php.cli

- name: configure fpm php.ini
  ini_file:
    section=PHP
    option={{ item.key }}
    value={{ item.value }}
    dest=/etc/php5/fpm/php.ini
  with_dict: php.fpm

- name: fpm pool config
  copy:
    src=www.conf
    dest=/etc/php5/fpm/pool.d/www.conf
  notify:
    - restart php5-fpm

- name: composer install
  shell: curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin

- name: php-cs-fixer install
  shell: curl -sS http://get.sensiolabs.org/php-cs-fixer.phar -o /usr/local/bin/php-cs-fixer.phar && chmod +x /usr/local/bin/php-cs-fixer.phar