deb http://httpredir.debian.org/debian jessie main
deb-src http://httpredir.debian.org/debian jessie main

deb http://security.debian.org/ jessie/updates main
deb-src http://security.debian.org/ jessie/updates main

deb http://dotdeb.netmirror.org jessie all
deb-src http://dotdeb.netmirror.org jessie all
