-----BEGIN CERTIFICATE-----
MIID5zCCAs+gAwIBAgIJAPlHn7FhshtaMA0GCSqGSIb3DQEBCwUAMIGJMQswCQYD
VQQGEwJDSDEPMA0GA1UECAwGWnVyaWNoMQ8wDQYDVQQHDAZadXJpY2gxITAfBgNV
BAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEOMAwGA1UEAwwFKi5kZXYxJTAj
BgkqhkiG9w0BCQEWFmRvbWluaWsuem9nZ0BnbWFpbC5jb20wHhcNMTUwNjA4MDQy
NjA2WhcNMTUwNzA4MDQyNjA2WjCBiTELMAkGA1UEBhMCQ0gxDzANBgNVBAgMBlp1
cmljaDEPMA0GA1UEBwwGWnVyaWNoMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRz
IFB0eSBMdGQxDjAMBgNVBAMMBSouZGV2MSUwIwYJKoZIhvcNAQkBFhZkb21pbmlr
LnpvZ2dAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
vgq0vwLckC6iWgxXBhemfJjq5BHnf4YbqB8J6jZK4TV7VoQbq0dLC7kfW9xL0NrP
sq6wOJp7NGPaLG3kx8W/mSKkxs5JzHBAf0WJROfGNh9R8RzVmaI6GibB4Vh1RyyX
Cjicffr195k0PTFOI6Y0M38ELwxgTSqXIq8xDkAmnUAFuAPTewPehM4Ot1I8bM5P
eNmJeVNAqG7a/RwdfNncNvJw6J6MxzQdokmzxA6+wStmN4CEnvfmO3z6EglTjboX
7xqnWzCXO2uJSy30DxxKscAusqcfeKjxCxDfIoiScYBBTGr3LTUrAmQ9KZDqdg3x
i6E+a0duZqWPOjciI8yGewIDAQABo1AwTjAdBgNVHQ4EFgQUu9tVXEYDFhU2QVuw
Dv46uZWM68YwHwYDVR0jBBgwFoAUu9tVXEYDFhU2QVuwDv46uZWM68YwDAYDVR0T
BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEABNLB4iPwbzcZfNzU2H75kqpaIHfM
UNKqAE27ORi67oJaDt2nepqHU0niy1LUxa29rUwYCkA/UtBjj3jLj1yEuNvLmq8q
U8bEU3Df/wkSXhF36KUTtpCybUW5HA6KjSP75Ikpwi1kqBF6SA+qdec/DSE1Jp5H
uEAlRCXlRA0drMyoBWqSpANKil33v8nKqhCOflYwSv/4hKe+zst/eA8k8Ag6zJK5
KQhjLCqjXi5gyoowWN7VtqqdTeVRTR+vuhFK1QmLqvGmEwIMwOuDLpNU68GsSzOC
ZI1A0/QJejgpkr1DQaAUkhMglLna9gzwO16qgU/bZ1tmL6rlKep3vwpq/A==
-----END CERTIFICATE-----
