user vagrant vagrant;
worker_processes 4;
error_log /var/log/nginx/error.log;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include mime.types;
    charset UTF-8;

    sendfile on;

    gzip on;

    server {
        listen 80;
        listen 443 ssl;

        ssl_certificate /etc/nginx/certificate;
        ssl_certificate_key /etc/nginx/privatekey;

        include applications/{{ application }}.conf;

        location ~ ^(.+\.php)(.*)$ {
            fastcgi_split_path_info ^(.+\.php)(.*)$;
            try_files $fastcgi_script_name =404;
            set $wtf $fastcgi_path_info;
            fastcgi_param PATH_INFO $wtf;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_pass unix:/var/run/php5-fpm.socket;
            include fastcgi_params;
        }
    }
}