[vagrant]

user = vagrant
group = vagrant

listen = /var/run/php5-fpm.socket
listen.owner = vagrant
listen.group = vagrant
listen.mode = 0660

pm = dynamic
pm.max_children = 10
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 4
pm.max_requests = 00
pm.status_path = /fpm-status

request_terminate_timeout = 0s

env[HOSTNAME] = $HOSTNAME
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
